<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="d:\log.txt" internalLogLevel="Trace">
		<rules>
			<logger name="*" minLevel="trace" writeTo="datadog" />
		</rules>
		<targets>
			<target xsi:type="WebService"
			   name="datadog"
			   url="https://https-intake.logs.datadoghq.eu/v1/input"
			   encoding="utf-8"
			   protocol="JsonPost"
			   preAuthenticate="false" >
				<parameter name='date' type='System.String' layout='${longdate}'/>
				<parameter name='ipaddress' type='System.String' layout='${aspnet-request-ip}'/>
				<parameter name="userid" type='System.String' layout="${aspnet-User-Identity}" />
				<parameter name="level"  type='System.String'  layout="${level:upperCase=true}"/>
				<parameter name="version" type='System.String'  layout="${configsetting:name=VersionSettings.Version:default=?}" />
				<parameter name="threadid"  type='System.String' layout="${threadid}" />
				<parameter name="controller"  type='System.String' layout="${aspnet-mvc-controller}" />
				<parameter name="class" type='System.String'  layout="${callsite:className=True:includeNamespace=False:fileName=False:includeSourcePath=False:methodName=True:cleanNamesOfAnonymousDelegates=True:cleanNamesOfAsyncContinuations=True}" />
				<parameter name="message" type='System.String'  layout="${message}" />
				<parameter name="elapsed"  type='System.String' layout ="${event-properties:item=elapsed}" />
				<parameter name="service"  type='System.String' layout="Wordle" />
				<parameter name="hostname"  type='System.String' layout="SYLVEON" />
				<parameter name="exception"  type='System.String' layout="${exception:format=ToString}" />
				<parameter name="ddsource"  type='System.String' layout="csharp" />
				<header name="DD-API-KEY" layout="abe03e3ed743c671423e0fb84816e177"/>
				<header name="Content-Type" layout="application/json"/>
			</target>
		</targets>
	</nlog>
</configuration>